[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
# Ensures consistent Java formatting
ij_java_align_multiline_parameters = true
ij_java_align_multiline_chained_methods = true

[*.ui]
indent_size = 2
tab_width = 2
continuation_indent_size = 2
# This forces IntelliJ's internal formatter to override plugin defaults
ij_continuation_indent_size = 2
ij_formatter_enabled = true2